.navbar{
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    img{
        width: 228px;
        height: 60px;
        margin-left: 2%;
    }
    ul{
        display: flex;
        flex-direction: row;
        li{
            margin: 61.5px;
            font-family: $Font-Kanit;
            font-weight: lighter;
            user-select: none;
            a{
                text-decoration: none;
                color: black;
                font-size: 18pt;
            }
        }
    }
    .nav-active{
        background: $DefaultColor;
        color: white;
        font-size: 18pt;
        text-decoration: none;
        padding: 5px 11px;
        border-radius: 39px;
    }
}