.Register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .container{
        width: 603px;
        height: 680px;
        background: #FBFBFB;
        border-radius: 41px;
        box-shadow: 13px 16px 12px 4px rgba(0, 0, 0, 0.314), inset 8px 6px 11px -4px rgba(0, 0, 0, 0.314);
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            padding: 43px 5px 66px 5px;
            font-family: $Font-Kanit;
            font-size: 38px;
        }
        form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            input{
                padding: 18px 19px;
                margin: 15px;
                border-radius: 20px;
                border: none;
                background: #DCDCDC;
                font-weight: bold;
                &::placeholder{
                    font-family: $Font-OpenSans;
                    font-weight: lighter;
                }&:focus{
                    outline: #218555 solid 2px;
                }
            }
            input[type=submit]{
                background: white;
                color: #218555;
                font-size: 24px;
                border-radius: 30px;
                outline: #218555 2px solid;
                transition: 0.3s;
                &:hover{
                    background: #218555;
                    color: white;
                    transition: 0.3s;
                }
            }p{
                font-family: $Font-OpenSans;
                color: red;
            }
    }
    }
}