@import './settings/reset';
@import './settings/settings';
@import './settings/variable';
@import './components/logo';
@import './components/navbar';
@import './layouts/forget_passwords';
@import './layouts/login';
@import './layouts/register';